html {
    font-family: 'Jockey One';
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: #272425;
    color: lightgrey;
}

header {
    color: lightgrey;
    background: #272425;
}

h1 {
    color: #e9c453;
    margin-block-start: 0rem;
    margin-block-end: 0rem;
    font-size: 3rem;
}

h3 {
    margin-block-start: 0rem;
}

.container {
    display: grid;
    grid-template-columns: auto auto;
    padding: 4rem;
    margin: 2rem 10rem;
}

/* .left-side {
    border: 2px purple solid;
} */

.right-side {
    font-family: inherit;
    font-size: 2rem;
    display: grid;
}


.right-side a {
    text-decoration: none;
    color: #272425;
    background: #e9c453;
    justify-self: center;
    border-radius: 10px;
    padding: 0.1rem 4rem 0rem 4rem;
    margin: 2.5rem 0rem;
    font-size: 2.5rem;
}

.footer {
    position:fixed;
    bottom:0rem;
    height:3rem;
    width:100%;
    text-align: center;
 }

 .footer a {
     color: #e9c453;
 }
